{% extends 'base.html' %} {% block content_container_class%}
<!-- indent here -->
{% if items %} img-section {% else %} empty-cart {% endif %} {% endblock %}
<!-- indent here -->
{% block content %}
<div class="row" style="margin-right: unset">
  <div class="col">
    <div class="custom-container" style="background-color: #45101ad2">
      <h1 style="color: #fafafa">Shopping Cart</h1>
      {% if items %}
      <ul style="color: rgba(255, 255, 255, 0.5)">
        {% for item in items %}
        <li>
          <a
            class="cart-content"
            href="{% url 'book_detail' book_id=item.book.id %}"
            >{{ item.book.title }}
          </a>
          - ${{ item.book.price }} - X {{ item.quantity }}

          <form
            action="{% url 'remove_from_cart' item.book.id %}"
            method="POST"
            style="display: contents"
          >
            {% csrf_token %}
            <button
              type="submit"
              style="background-color: transparent; color: #fafafa"
            >
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </form>
        </li>
        {% empty %}
        <li>
          <p>Your cart is empty.</p>
        </li>
        {% endfor %}
      </ul>
      <p class="cart-detail">Total: ${{ total_price|floatformat:2 }}</p>
      <p class="cart-detail">Delivery: $ {{ delivery_cost|floatformat:2}}</p>
      <h5 id="grand-total">Grand Total: $ {{ grand_total|floatformat:2 }}</h5>
      <a href="{% url 'checkout' %}" id="cart-checkout-link"
        >Proceed to Checkout</a
      >

      {% else %}
      <p style="color: rgba(255, 255, 255, 0.5)">Your cart is empty.</p>

      {% endif %}
    </div>
    <div style="margin-left: 20px; margin-top: 5px">
      <a href="{% url 'book_list' %}" class="btn">Go to Library</a>
    </div>
  </div>
</div>

{% endblock %}
