{% extends 'base.html' %} {% block content %}
<h1>Shopping Cart</h1>
{% if items %}
<ul>
  {% for item in items %}
  <li>
    <a
      style="color: black; font-size: 20px"
      href="{% url 'book_detail' book_id=item.book.id %}"
      >{{ item.book.title }}
    </a>
    - ${{ item.book.price }} - X {{ item.quantity }}

    <form action="" method="POST">
      {% csrf_token %}
      <button type="submit">Remove from Cart</button>
    </form>
  </li>
  {% empty %}
  <li>Your cart is empty.</li>
  {% endfor %}
</ul>
<p>Total: ${{ total_price }}</p>
<a href="">Proceed to Checkout</a>
{% else %}
<p>Your cart is empty.</p>
{% endif %} {% endblock %}
