{% extends 'base.html' %}
<!-- indent here -->

{% block content_container_class%}
<!-- indent here -->
img-section{%endblock %}
<!-- indent here -->
{% block content %}
<div class="row" style="background-color: #45101a86; margin-right: unset">
  <div class="col-md-12 col-lg-3">
    <div
      class="custom-container checkout-div"
      style="width: fit-content; padding: 0 20px 15px 20px"
    >
      <h2>Edit Profile</h2>

      <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="btn">Update Profile</button>
      </form>
    </div>
  </div>
</div>
<div style="margin-left: 20px; margin-top: 5px">
  <a
    href="{% url 'book_list' %}"
    style="margin-left: 20px; margin-top: 5px"
    class="btn"
    >Go to Library</a
  >
</div>

{% endblock %}
