{% extends 'base.html' %}
<!-- indent here -->

{% block content_container_class%}
<!-- indent here -->
img-section{%endblock %}
<!-- indent here -->{% block content %}
<div class="row" style="display: flex; justify-content: space-evenly">
  <div class="col-md-12 col-lg-3">
    <div class="custom-container checkout-div" style="width: fit-content">
      {% if show_profile_info %}
      <h2>Profile Information</h2>

      <p>First Name: {{ order.first_name }}</p>
      <p>Last Name: {{ order.last_name }}</p>
      <p>Email: {{ order.email }}</p>
      <p>Address: {{ order.address }}</p>
      <p>Postal Code: {{ order.postal_code }}</p>
      <p>City: {{ order.city }}</p>
      <p>State: {{ order.state }}</p>
      <p>Country: {{ order.country }}</p>
    </div>
    <a href="{% url 'edit_profile' %}" class="btn" style="margin: 10px"
      >Edit Profile</a
    >
  </div>

  <div class="col-md-12 col-lg-4">
    <div
      class="custom-container checkout-div"
      style="
        overflow-wrap: break-word;
        height: 450px;
        overflow: scroll;
        width: fit-content;
      "
    >
      <h2>Order History</h2>
      <hr />
      {% for order in order_history %} {% with order_num=forloop.counter %}
      <h3>#{{ order_num }}</h3>

      {% endwith %}
      <ul>
        <li>Order Number: {{ order.order_number }}</li>

        <li>Order Date: {{ order.created_at }}</li>

        <li>
          Your Purchase: {% for item in order.lineitems.all %}
          <!-- indent here  -->
          {{item.book.title }}
        </li>
        <li>- Quantity: {{ item.quantity }}</li>
        {% endfor %}

        <li>Email: {{ order.email}}</li>

        <li>Delivery Address: {{order.address}}</li>
      </ul>
      <hr />

      {% endfor %} {% else %}
      <h2>Profile Information</h2>
      <h3>You don't have any profile information saved at the moment.</h3>
      <a href="{% url 'edit_profile' %}" class="btn" style="margin: 10px"
        >Add Profile Info</a
      >

      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
