{% extends 'base.html' %} 
<!-- indent here -->

{% block content_container_class%}
<!-- indent here -->
background{%endblock %}
<!-- indent here -->{% block content %}
<div class="row" style="display:flex; justify-content:space-evenly">
   <div class="col-md-12 col-lg-3">
    <div class="custom-container checkout-div">
      {% if show_profile_info %}
      <h2>Profile Information</h2>

      <p>First Name: {{ order.first_name }}</p>
      <p>Last Name: {{ order.last_name }}</p>
      <p>Email: {{ order.email }}</p>
      <p>Address: {{ order.address }}</p>
      <p>Postal Code: {{ order.postal_code }}</p>
      <p>City: {{ order.city }}</p>
      <p>State: {{ order.state }}</p>
      <p>Country: {{ order.country }}</p>
    </div>
    <a href="{% url 'edit_profile' %}" class="btn" style="margin-left: 10px"
      >Edit Profile</a
    >
  </div>

   <div class="col-md-12 col-lg-4">
    <div class=" custom-container checkout-div" style="overflow-wrap:break-word; height: 450px;overflow: scroll;">
        
      <h2>Order History</h2>
      <ul>
        <hr>
        {% for order in order_history %}
        {% with order_num=forloop.counter %}
        <h5>#{{ order_num }}</h5>
        
      
        <li>
          <p>Order Number: {{ order.order_number }}</p>
        </li>
          <br />
          <li>
          <p>Order Date: {{ order.created_at }}</p>
          </li>
          <br />
          <li>
       
        {% if book.quantity > 1 or book.title > 1 %}
        <p>Books Purchased:</p>
        {% else %}
        <p>Book Purchased</p>
        
       
        {% endif %}
      

          <ul>
            {% for item in order.lineitems.all %}
            
              <p>{{ item.book.title }} 
               
                - Quantity: {{ item.quantity }}</p>
            
            
            {% endfor %}
          </li>
          </ul>
          <li>
          <p>Email: {{ order.email}}</p>
          </li>
          <br />
          <li>
          <p>Delivery Address: {{order.address}}</p>
          <br />
        </li>
        <hr>
        {% endwith %}
        {% endfor %}
      </ul>

      {% else %}
      <h2>Profile Information</h2>
      <h3>
        You don't have any profile information saved at the moment. Click on
        "Edit Profil" to change your Profile info:
      </h3>
    
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
