<!-- checkout_success.html -->
{% extends 'base.html' %}
<!-- indent here -->

{% block content_container_class%}
<!-- indent here -->
background{%endblock %}
<!-- indent here -->{% block content %}
<div class="row" style="justify-content: center; background-color: #45101a86">
  <div class="col-md-12 col-lg-3">
    <div class="container mt-5 order-success">
      <!-- <div > -->
      <h1 class>Order Successfully Processed</h1>
      <p>
        Thank you for your order. Your order number is: {{ order.order_number }}
      </p>
      <p>An email confirmation has been sent to: {{ order.email }}</p>
      {% if save_to_profile %}
      <p>you can check your profile here</p>
      {% else %}
      <a href="{% url 'book_list' %}" class="btn btn-black rounded-0"
        >Continue Shopping</a
      >
      {% endif %}
      <!-- </div> -->
    </div>
  </div>
</div>

{% endblock %}
