<!-- checkout_success.html -->
{% extends 'base.html' %}
<!-- indent here -->

{% block content_container_class%}
<!-- indent here -->
the-library-red{%endblock %}
<!-- indent here -->{% block content %}
<div
  class="row"
  style="
    justify-content: center;

    margin-right: unset;
    padding-bottom: 150px;
  "
>
  <div class="col-md-12 col-lg-6">
    <div class="container mt-5 order-success">
      <!-- <div > -->
      <h1 class>Order Successfully Processed</h1>
      <p>
        Thank you for your order. Your order number is: {{ order.order_number }}
      </p>
      <p>An email confirmation has been sent to: {{ order.email }}</p>
      {% if save_to_profile %}
      <p>
        Your checkout details have been saved on your
        <strong
          ><a href="{% url 'profile' %}" style="color: #45101ad2"
            >Profile</a
          ></strong
        >
      </p>
      {% else %}
      <a href="{% url 'book_list' %}" class="btn btn-black rounded-0"
        >Continue Shopping</a
      >
      {% endif %}
      <!-- </div> -->
    </div>
  </div>
</div>

{% endblock %}
