{% extends "account/base.html" %} {% block content_container_class%}
<!-- indent here -->
the-library-red{% endblock %} {% load i18n %} {% load account %}
<!-- indent here -->
{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}
<!-- indent here -->
{% block content %}
<div class="row" style="margin-right: unset">
  <div class="col-md-12 col-lg-6">
    <div
      class="container mt-5 order-sccess"
      style="background-color: #fafafaf2;m argin-left:5 px;"
    >
      <h1>{% trans "Confirm E-mail Address" %}</h1>

      {% if confirmation %}
      <!-- indent here -->
      {% user_display confirmation.email_address.user as user_display %}

      <p>
        {% blocktrans with confirmation.email_address.email as email %}Please
        confirm that
        <a href="mailto:{{ email }}" style="color: #45101ad2">{{ email }}</a> is
        an e-mail address for user {{ user_display }}.{% endblocktrans %}
      </p>

      <form
        method="post"
        action="{% url 'account_confirm_email' confirmation.key %}"
      >
        {% csrf_token %}
        <button type="submit" class="btn" tyle="margin-bottom: 3px">
          {% trans 'Confirm' %}
        </button>
      </form>

      {% else %} {% url 'account_email' as email_url %}

      <p>
        {% blocktrans %}This e-mail confirmation link expired or is invalid.
        Please
        <a href="{{ email_url }}" style="color: #45101ad2"
          >issue a new e-mail confirmation request</a
        >.{% endblocktrans %}
      </p>

      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
