{% extends "account/base.html" %} {% block content_container_class%}
<!-- indent here -->
signout {% endblock %}
<!-- indent here -->
{% block content %}
<div class="row" style="margin-right: unset">
  <div class="col">
    <div
      class="custom-container"
      style="background-color: #45101a75; color: #fafafa; width: fit-content"
    >
      <!-- {% load i18n %} {% trans "Sign Out" %} -->

      <h1>{% trans "Sign Out" %}</h1>

      <p style="color: rgba(255, 255, 255, 0.5)">
        {% trans 'Are you sure you want to sign out?' %}
      </p>

      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %} {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {% endif %}
        <button type="submit" class="btn" style="margin-bottom: 5px">
          {% trans 'Sign Out' %}
        </button>
      </form>
    </div>
  </div>
</div>
{% block footer %} {% endblock %} {% endblock %}
