{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {% endblock %} {% block extra_meta %} {% endblock %} {% block corecss %}
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital@0;1&family=Fasthand&family=Special+Elite&display=swap"
      rel="stylesheet"
    />
    {% endblock %} {% block extra_css %} {% endblock %} {% block corejs %}
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/40e96c6555.js"
      crossorigin="anonymous"
    ></script>

    {% endblock %}

    <title>The Library {% block extra_title %}{% endblock %}</title>
  </head>

  <body>
    {% block page_header %} {% endblock %}

    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="">
          <h1 class="d-none d-lg-inline">The Library</h1>
        </a>
        {% include 'books/includes/searchforms.html' %}

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span><i class="fa-solid fa-info"></i></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownAccount"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                My Account
              </a>
              <div
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="navbarDropdownAccount"
              >
                {% if request.user.is_authenticated %} {% if
                request.user.is_superuser %}
                <a class="dropdown-item" href="">Library Management</a> {% endif
                %}

                <a href="">Go to Profile</a>

                <a class="dropdown-item" href="{% url 'account_logout'%}"
                  >Logout</a
                >
                {% else %}
                <a class="dropdown-item" href="{% url 'account_signup' %}"
                  >Register</a
                >
                <a class="dropdown-item" href="{% url 'account_login' %}"
                  >Login</a
                >
                {% endif %}
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">
                <i class="fas fa-shopping-cart"></i> Cart
                <span class="badge badge-info">
                  {% if total_price %} ${{ total_price|floatformat:2 }} {% else
                  %} $0ef.00 {% endif %}
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">
                <i class="fas fa-credit-card"></i> Checkout
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% for message in messages %}

    <div
      class="alert {{messages.tags}} alert-dismissible fade show typewriter typewriter-text"
      id="msg"
      role="alert"
    >
      {{ message | safe}}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      >
        X
      </button>
    </div>

    {% endfor %}
    <div class="container-fluid img-section d-none d-lg-block">
      <div class="row">
        <div class="col-6 col-lg-4 my-auto py-1 py-lg-0"></div>
      </div>
    </div>
    {% include 'books/includes/main-nav.html' %}

    <!-- List of books -->
    <div class="container">{% block content %} {% endblock %}</div>

    {% block extra_js %} {% endblock %} {% block postloadjs %} {% endblock %}
  </body>
</html>
