body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: #bebaba;
}

h5 {
    font-weight: bold;
}

a,
a:hover {
    color: #ffffffd0;
}



.btn {
    background-color: #45101ad2;
    color: #ffffffd0;

}

/* Navbars */
.navbar {
    background-color: #45101ad2;

    border: 8px double rgb(159, 140, 63);

}

.navbar-brand {
    font-size: 24px;


}

.nav-link {
    font-size: 18px;

}

.badge-info {
    background-color: #ffffffd0;
    color: #45101ad2;
}

.badge-info:hover {
    background-color: rgba(255, 255, 255, .5);
}



.dropdown-menu {
    background-color: #222;
    border: none;

}

.dropdown-item {
    color: #fff;

}



.navbar-toggler-right {
    margin-left: auto;
}

/* search bar responsive */
@media (min-width: 769px) {
    .navbar .navbar-brand {
        margin-right: 20px;
        /* Adjust the margin as desired */
    }

    .navbar .nav-link {
        margin-right: 10px;
        /* Adjust the margin as desired */
    }


    .img-section .search-bar {
        display: block;
        /* Display the search bar on larger screens */
    }
}

/* typewriter effect */

.typewriter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    /* Adjust the margin as desired */
}



.typewriter-text {
    display: inline-block;
    animation: typewriter 7s steps(25);
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #ffc107;
    /* Update the border color to a suitable vintage color */
    padding-right: 10px;
    /* Adjust the padding as desired */
    position: relative;

}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.img-section {
    background-image: url('/books/media/the-library.jpg');
    height: calc(80vh - 164px);
    color: #555;
    background-repeat: no-repeat;
    background-size: cover;
}

/* books layout */
.card {
    border: 10px double rgb(159, 140, 63) !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    padding: 20px !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.385) !important;
}





.category-card {
    border: 10px double rgb(159, 140, 63) !important;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.category-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}