{% extends 'base.html' %} {% block typewriter %}

<div class="typedtext typewrite">
  <h2>
    <span class="message-text"> All Categories</span>
  </h2>
</div>
{% endblock %} {% block content %}
<div class="container">
  <div class="custom-container" style="background-color: #45101ad2">
    <div class="row">
      {% for category in categorys %}
      <div class="col-md-4">
        <div class="category-card">
          <a href="{% url 'book_list' %}?category={{ category.name }}">
            <!-- indent here  -->
            <img
              src="{{ category.image.url }}"
              alt="{{ category.name }} Book Category Image"
              class="category-image"
          /></a>
        </div>
      </div>
      {% if forloop.counter|divisibleby:3 and not forloop.last %}
    </div>

    <div class="row">{% endif %} {% endfor %}</div>
  </div>
</div>
{% endblock %}
