{% extends 'base.html' %} {% block typewriter %}
<div class="typedtext typewrite">
  <h1>
    <span class="message-text " 
      >Checkout our Best Offers!</span
    >
  </h1>
</div>
{% endblock %}
 {% block content %} 
<div class="container">
    {% include 'books/includes/carousel.html' %}
</div>
<div class="best-seller-title-container">
  <h2 class="best-sellers-heading">Best Sellers</h2>
</div>

<div class="container">
  <div class="custom-container" style="background-color: #45101ad2">
    <div class="row">
      {% for book in best_seller_books %}
      <div class="col-lg-4 col-md-6">
        <div class="card h-90 border-0">
            <a href="{% url 'book_detail' book_id=book.id %}" aria-label="{{book.title}}">
          <img
            src="{{ book.cover_image.url }}"
            alt="{{ book.title }} Book Cover Image"
            class="card-img-top book-list-pic"
            width="450"
            height="300"
          />
          <div class="card-body pb-0">
            <h3 class="card-title">{{ book.title }}</h3>
            <p class="card-text">Author: {{ book.author }}</p>
            <p class="card-text">Price: ${{ book.price }}</p>
          </div>
        </div>
      </div>
    </a>
      {% endfor %}
    </div>
  </div>
  </div>

  {% endblock %}

