{% extends 'base.html'%} {% load static %} {% block content %}
<div class="container">
  <div class="custom-container">
    <div class="row" style="display: flex; justify-content: center">
      {% for book in page %}

      <div class="col-lg-4 col-md-6">
        <div class="card h-90 border-0">
          <img
            src="{{ book.cover_image.url }}"
            alt="{{ book.title }} Book Cover Image"
            class="card-img-top book-list-pic"
            width="450"
            height="300"
          />
          <div class="card-body pb-0">
            <h2 class="card-title">{{ book.title }}</h2>
            <p class="card-text">{{ book.category }}</p>
          </div>
          <div class="card-footer bg-white pt-0 border-0 text-left">
            <div class="row">
              <div class="col">
                <p class="lead mb-0 text-left font-weight-bold">
                  ${{ book.price }}
                </p>
              </div>
            </div>
          </div>
          <div class="card-footer bg-white pt-0 border-0 text-left">
            <div class="row">
              <div class="col">
                {% if book.ratings %}
                <small class="text-muted"
                  ><i class="fas fa-star mr-1" aria-hidden="true"></i>
                  <!-- indent here -->
                  {{book.ratings }} / 5</small
                >
                {% else %}
                <small class="text-muted">No Rating</small>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="card-footer bg-white pt-0 border-0 text-left">
            <div class="row">
              <div class="col">
                <a href="{% url 'book_detail' book_id=book.id %}" class="btn"
                  >View Book Details</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
      <p class="no-books">No books available.</p>
      {% endfor %}
      <div class="col-12 paginator-container">
        <div>
          {% if page.has_previous %}
          <a href="?page=1" class="paginator-link">First</a>
          <a href="?page={{ page.previous_page_number }}" class="paginator-link"
            >Previous</a
          >
          {% endif %} {% if page.has_next %}
          <a href="?page={{ page.next_page_number }}" class="paginator-link"
            >Next</a
          >
          <a href="?page={{ page.paginator.num_pages }}" class="paginator-link"
            >Last</a
          >
          {% endif %}
          <div class="current-page">{{ page.number }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="external-link">
    <p>Looking for more books ?</p>
    <p>
      Have a look on
      <a
        href="https://www.amazon.co.uk/books-used-books-textbooks/b?node=266239"
        target="_blank"
        rel="noopener noreferrer"
        >Amazon Books</a
      >
    </p>
  </div>
</div>

{% endblock %}
