{% extends 'base.html' %} {% load static %} {% block content %}
<!-- indent here -->

<div id="admin-newbook-div">
  <a href="{% url 'create_book'%}" class="btn admin-newbook-button"
    >Create New Book</a
  >
</div>
<div class="container">
  <div class="custom-container-admin">
    <form
      class="d-none d-lg-inline form-inline"
      method="GET"
      action="{% url 'admin_search_book' %}"
    >
      <div class="input-group">
        <input
          class="form-control"
          type="search"
          name="q"
          placeholder="Search in your Library"
          value="{{ search_term }}"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>
    <form
      class="form-inline d-inline d-lg-none"
      method="GET"
      action="{% url 'admin_search_book' %}"
    >
      <div class="input-group">
        <input
          class="form-control typewriter-input"
          type="search"
          name="q"
          placeholder="Your Library"
          value="{{ search_term }}"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>
    <div class="row">
      {% for book in books %}
      <div class="col-lg-4 col-md-6">
        <div class="card card-admin h-90 border-0">
          <a href="{% url 'book_detail' book_id=book.id %}">
            <img
              src="{{ book.cover_image.url }}"
              alt="{{ book.title }} Cover Image"
              class="card-img-top book-list-pic"
              width="450"
              height="300"
          /></a>
          <div class="card-body pb-0">
            <h5 class="card-title admin-book-detail" style="color: white">
              {{ book.title }}
            </h5>
            <p class="card-text admin-book-detail">{{ book.category }}</p>
          </div>

          <div class="card-footer bg pt-0 border-0 text-left">
            <div class="row">
              <div class="col">
                <a href="{% url 'edit_book' book.id %}" class="btn btn-admin"
                  >Edit</a
                >
              </div>
            </div>
          </div>
          <div class="card-footer bg pt-0 border-0 text-left">
            <div class="row">
              <div class="col">
                <a href="" class="btn btn-admin">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% empty %}
      <p>No books available.</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
